* , h1 {
    color: #EFEDE9;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro", "San Francisco", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

}

body {
    background-color: #1F1F1F;
}